PROJECT_NAME=ms-inventario
SERVICE_CODE=INV
API_V1_STR=/api/v1
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/db_inventario
AUTH_BASE_URL=http://localhost:8001
ROL_BASE_URL=http://localhost:8002
AUD_BASE_URL=http://localhost:8018
APP_TOKEN=replace-me-token-inv
