PROJECT_NAME=ms-usuarios
SERVICE_CODE=USR
API_V1_STR=/api/v1
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/db_usuarios
ROL_BASE_URL=http://localhost:8002
AES_SECRET_KEY_BASE64=QUJDREVGR0hJSktMTU5PUFFSU1RVVldYWVo0NDQ0NDU1NTY2NjY=
