APP_NAME=ms-domicilios
APP_ENV=dev
APP_PORT=8000
DATABASE_URL=postgresql+psycopg://domicilios:domicilios123@db:5432/ms_domicilios
PED_MOCK_ENABLED=true
PED_BASE_URL=http://localhost:8010
PED_TIMEOUT_SECONDS=3.0
PED_APP_TOKEN=default-dom-token
