DATABASE_URL=postgresql://pedidos:pedidos123@db:5432/ms_pedidos
AUTH_BASE_URL=http://localhost:8001
ROL_BASE_URL=http://localhost:8002
PRV_BASE_URL=http://localhost:8003
INV_BASE_URL=http://localhost:8004
AUD_BASE_URL=http://localhost:8005
PED_APP_TOKEN=replace-me
DOM_APP_TOKEN=replace-me
SECURITY_MOCK_ENABLED=false
EXTERNAL_SERVICES_MOCK_ENABLED=false
